<!doctype html>

<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/scss/custom.css" rel="stylesheet">

    <meta http-equiv="refresh" content="1">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" aria-current="page">Strawberries Site Thingy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="./Carcassonne.html">Carcassonne Erweiterungen Regelübersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./stochastic.html">Stochastic Simulation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./calendar.html">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./_base.html">Hunger Games thingy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
	404 - Page Not Found
{% endblock %}


<script src="bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>