{% extends "_base.html" %}

{% block title %}
	Main Page
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Material</h1>
        <h2>Einführungsvideo:</h2>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l69YUeW4pg4?si=em2E6lu2iRmeFgsa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
{% endblock %}
