{% extends "_base.html" %}

{% block title %}
    404 - Page not Found
{% endblock %}

{% block body %}
     <div class="container">
         <h1>Escape room Projekt - Demokratie</h1>
<p>Mit dem Ziel, demokratische Werte und Prinzipien der jungen Generation näherzubringen, haben wir als 22 Schülerinnen
und Schüler der Jahrgangsstufe Q2 gemeinsam ein Projekt entworfen: einen Escape Room zum Thema Demokratie – als
    interaktive Entdeckungsreise für eine fünfte und eine elfte Klasse.</p>
         <h4>Intentionen des Projekts</h4>
<p>In einer immer komplexer werdenden und stärker vernetzten Welt bilden demokratische Werte, wie z. B. Freiheit,
Gleichheit und Mitbestimmung, elementare Grundsteine unseres sozialen Zusammenlebens. Bereits in jungen Jahren ist
es unserer Meinung nach essentiell, ihre Bedeutung zu erfahren, sie hinterfragen und zu verstehen. Demokratie ist jedoch
nicht selten ein schwer zu fassendes, oft auch schwer vermittelbares Konzept im traditionellen Unterricht.
</p><p>
Als Ausgangssituation dient der Escape Room als eine spielerische Brücke zwischen der oftmals doch schon etwas
trocken wirkenden Theorie einer Demokratie und der lebendigen Erfahrungswelt, wie WIR sie leben. Während wir den
jüngeren Schülerinnen und Schülern der fünften Klasse ein „Demokratie-Erlebnis“ schenken möchten, welches
altersgerecht, spannend und lehrreich zugleich ist, soll die elfte Klasse ebenso auf ihre Kosten kommen, wenn es darum
geht, Demokratie als ein von Anfang an mit Spiel und Witz durchzogenes Gedankenexperiment zu verstehen.</p>
         <h4>Was steckt dahinter?</h4>
<p>Ein Escape Room fordert Teamarbeit, Kommunikation und kreatives Problemlösen: allesamt Fähigkeiten, die auch in
einem gut funktionierenden Gemeinwesen bzw. in einer Demokratie unabdingbar sind. In verschiedenen „Rooms“, „Tasks“
und „Missionen“ bearbeitet man – in Zeitaufgaben und Wettbewerben gegeneinander – demokratisches Wissen: von den
Grundrechten über die wichtigsten demokratiegeschichtlichen Meilensteine und die aktuellen gesellschaftlichen
Schlüsselfragen unserer Tage. Jede gelöste Aufgabe bringt die Gruppe ihrem Ziel im Spiel – und damit ihrem Ziel, dabei zu
lernen und zu verstehen – näher. Das Verständnis für Demokratie wird gefördert und die Bedeutung von Zusammenhalt
und Dialog eingeübt und eingeübt.
    </p><p>
Für die Fünftklässlerinnen und -klaesser steht der Umgang mit den Grundwerten der Demokratie im Mittelpunkt der
geforderten Übungen: spielerisch wird erfahren, was Rechte, aber auch Pflichten bedeuten, und wie wichtig es ist, Fairness
und Respekt beizubehalten, wenn man einmal in einer Gesellschaft zusammenlebt. In der elften Klasse hingegen, so ist
der Plan, sollen auch „schwierigere“ Themen – wie etwa die Funktionsweise von Wahlen, der Schutz von Minderheiten
oder das Thema Bürgerbeteiligung – auf den Tisch gebracht und ähnlich verspielt hinterfragt werden.</p>
    </div>
{% endblock %}w