{% extends "_base.html" %}

{% block title %}
	Main Page
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Prozess
        </h1>
        <p>
            Wir wollten im Rahmen unseres SoWi ZKs ein Projekt zu förderung der Demokratie umsetzen.
            Dafür haben wir zunächst als Gruppe einige Ideen gesammelt und uns letztendlich darauf geeinigt einen Escaperoom zu diesem Thema zu entwickeln.
            Diesen wollten wir auch anderen Schulen für die Durchführung zur verfügung stellen.
            Dazu haben wir uns in einige Gruppen aufgeteilt, um dies Arbeitsteilig zu erledigen:
        </p>
            <ul>
        <li>Ablauf Escape-Room (Ausgangssituation, Aufbau, Ziel) + Entwicklung von Fragen und Aufgaben im Hinblick auf Demokratie – Zielanpassung</li>
        <li>Reflexionsphase für Teilnehmer:innen (Konsequenzen fehlendes demokratisches handeln)</li>
        <li>Homepage gestalten (oder Alternative prüfen)</li>
        <li>Kriterien für einen guten Escape Room (Checkliste)</li>
        <li>Finanzierungsskizze</li>
        <li>Raum zur Durchführung finden/ ggf. buchen</li>
        <li>ggf. zwei Versuchsgruppen (5. Klässler/ 10. Klässler)</li>
        <li>Liste mit Material zur Beantwortung Fragen/ Lösung von Aufgaben</li>
        <li>Einrichtung des Raums</li>
        <li>Hilfeplan erstellen (wenn SuS nicht weiterkommen)</li>
        <li>Protokoll Arbeitsprozess und Zielsetzung zum Projekt generell - Wettbewerbsteilnahme Begründung</li>
            </ul>

    </div>
{% endblock %}